{{>drNavbar}}


<Section class="Profile">
    <div class="topSec">
        <div class="profimgdiv">
            <img class="profimg" src="{{data.image}}" />
        </div>
        <h1 class="welcome">Welcome {{name}}</h1>
    </div>
    <div class="bottomsec">
        <button class="accordion">Personal Information</button>
        <div class="panel">
                <h1>Name : {{data.fullname}}</h1>
                <h1>Email : {{data.email}}</h1>
                <h1>Speciality : {{data.speciality}}</h1>
                <h1>qualification : {{data.qualification}}</h1>
                <h1>Experience : {{data.experience}}</h1>
                <h1>Address : {{data.address}}</h1>

        </div>

        <button class="accordion">Appointments</button>
        <div class="panel">
            <div class="accapp"> 
                {{#each rows}}
                <div class="appoints">
                    <h1>{{this.patientemail}} Wants an Appointment</h1>
                    <form action="/accpetConnectReq?email={{this.patientemail}}" method="post">
                    <input class="datetime" type="datetime-local" id="datetime" name="datetime">
                        <button>Accept</button>

                    </form>
                </div>
                {{/each}}
                {{#each rows_accpeted}}
                <div class="appointsVC">
                    <h2>Appointment added for - {{this.patientemail}}</h2>
                    <form action="/deleteConnectReq?email={{this.patientemail}}" method="post">
                        <div class="url-delete">
                        <button>Delete</button>
                    </form>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>

        <button class="accordion">Video Requests</button>
        <div class="panel">
            <div class="accapp">
                {{#each rowsVCdata}}
                <div class="appoints">
                    <h1>Request for Video Consultation from {{this.patientemail}}</h1>
                    <form action="/accpetConnectReqVC?email={{this.patientemail}}" method="post">
                    <input class="datetime" type="datetime-local" id="datetime" name="datetime">
                        <button>Accept</button>

                    </form>
                </div>
                {{/each}}

                {{#each rowsVCdata_accpeted}}
                <div class="appointsVC m-r">
                    <h2>Connect to - {{this.patientemail}}</h2>
                    <form action="/deleteConnectReqVC?email={{this.patientemail}}" method="post">
                        <div class="url-delete">
                        <a href="/video-calling{{this.uuid}}">Your connection Link</a>
                        <button>Delete</button>
                    </form>
                    </div>
                </div>
                {{/each}}


            </div>
        </div>
    </div>
</Section>
{{>footer}}
<script src="js/userDashboard.js"></script>